.sub-filters__dropdown {
    width: 200px;
    margin-top: 10px;
}

.sub-filters__dropdown .css-1wa3eu0-placeholder {
    color: #aaa;
}

.sub-filters__dropdown .css-1uccc91-singleValue {
    color: #333;
}

.sub-filters__dropdown .css-1hb7zxy-IndicatorsContainer {
    color: #333;
}
