.header {
  display: flex;
  align-items: center;
  gap: 16px;

  &__logo {
    max-width: 48px;
    max-height: 48px;
  }

  &__title {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    line-height: 32px;
    font-weight: 400;
  }
}
