.header {
  display: flex;
  align-items: start;
  gap: 16px;

  &__logo {
    max-width: 64px;
    max-height: 64px;
  }

  &__title {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 20px;
  }
}
