.header {
  display: flex;
  align-items: center;
  gap: 16px;
  position: fixed;

  &__logoAndTitle {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &__logo {
    max-width: 48px;
    max-height: 48px;
  }

  &__title {
    font-family: 'Roboto', sans-serif;
    font-size: 28px;
    line-height: 32px;
    font-weight: 400;
    color: white;
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 20px;
  }

  &__link {
    font-size: 16px;
    line-height: 18px;
    font-weight: 300;
    color: white;
  }

  a {
    text-decoration: none;
  }
}
