.day {
  display: flex;
  flex-direction: column;
  background: rgba(26, 102, 224, 0.95);
  backdrop-filter: blur(5px);
  border-radius: 20px;
  border: solid white 0.5px;
  transition: 0.3s ease-in-out;

  &__panel {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    padding: 20px 20px 20px 40px;
    color: white;
    min-width: 15vw;
    cursor: pointer;
  }

  &__contentLine {
    background: linear-gradient(to left, transparent, white, white, transparent);
    height: 1px;
    width: 90%;
    margin: 0 auto;
    transition: opacity 0.3s ease-in-out;
  }

  &__title {
    font-size: 20px;
    line-height: 24px;
  }

  &__arrow {
    max-width: 32px;
    max-height: 32px;
    user-select: none;
    transition: 0.3s ease-in-out;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out;
    max-height: 0;
  }

  &_current {
    background-color: white !important;
    color: black !important;

    & > div > span {
      color: black !important;
    }

    & > div > .day__arrow {
      filter: invert(1);
    }

    & > .day__contentLine {
      background: linear-gradient(to left, transparent, rgba(26, 102, 224, 0.95), rgba(26, 102, 224, 0.95), transparent);
    }
  }
}
