@import "./assets/mixins/media";

.container {
  display: flex;
  flex-direction: column;
  padding: 20px 100px;

  @include media-tablet-and-mobile {
    padding: 20px;
  }

  &_mainPage {
    min-height: 100vh;
  }

  &_header {
    background: linear-gradient(to right, rgba(26, 102, 224, 0.95), transparent);
    position: fixed;
    width: 100%;
    height: 45px;
    z-index: 10;
    transition: 0.3s ease-in-out;

    @include media-tablet-and-mobile {
      height: 30px;
      bottom: 0;
      padding: 15px;
      width: calc(100% - 30px);
    }

    &_scrolled {
      background: rgba(26, 102, 224, 0.8);
      backdrop-filter: blur(8px);
      border-bottom: solid white 0.5px;

      @include media-tablet-and-mobile {
        border-bottom: none;
        border-top: solid white 0.5px;
      }
    }
  }

  &_footer {
    background: white;
    color: black;
    height: 50px;
  }
}
