.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding-top: 300px;
  text-align: center;
  transition: 0.5s ease;

  &__background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
  }

  &__title {
    font-weight: 400;
    font-size: 55px;
    line-height: 60px;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.8);
  }

  &__filterButtons {
    display: flex;
    gap: 10px;
  }

  &__filterButton {
    padding: 10px 20px;
    border: solid #c2c2c2 0.5px;
    border-radius: 50px;
    cursor: pointer;
    transition: background 0.3s ease;
    position: relative;
    overflow: hidden;
    color: black;
    z-index: 0;
    font-family: 'Onest', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;

    &_active {
      background: white;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: #dce7ff;
        z-index: -1;
        animation: loading 5s linear forwards;
      }
    }

    &_inactive {
      background: rgba(255, 255, 255, 0.6);
      backdrop-filter: blur(8px);
    }
  }

  &__content {
    margin-top: 20px;
    font-size: 1.2em;
  }
}

@keyframes loading {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}
