@import "../../layout.module";

.filterButtons {
  display: flex;
  gap: 10px;

  @include media-tablet-and-mobile {
    flex-direction: column;
  }

  &__button {
    padding: 10px 20px;
    border: solid #c2c2c2 0.5px;
    border-radius: 50px;
    cursor: pointer;
    transition: background 0.3s ease;
    position: relative;
    overflow: hidden;
    color: black;
    z-index: 0;
    font-family: 'Onest', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    outline: none;

    &_active {
      background: white;

      @include media-tablet-and-mobile {
        background: rgba(26, 102, 224, 0.95);
        color: white;
      }

      &_animated::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background: rgba(26, 102, 224, 0.25);
        z-index: -1;
        animation: loading 5s linear forwards;
      }
    }

    &_inactive {
      background: rgba(255, 255, 255, 0.6);
      backdrop-filter: blur(8px);
    }
  }
}
