.subject {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: start;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.25), transparent);
  padding: 10px;
  border-radius: 10px;

  &_today {
    background: linear-gradient(to right, rgba(26, 102, 224, 0.95), rgba(94, 141, 222, 0.95));
    color: white
  }


  &__title {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    text-align: start;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
  }
}
