.subject {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: start;

  &__title {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    text-align: start;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 12px;
    line-height: 14px;
    font-weight: 300;
  }
}
